!!!
%html
  %head
    %meta{'charset' => 'utf-8'}
    %title PropertySearch
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span3
          / Start of shared/search_form
          = render partial: "shared/search_form"
          / End of shared/search_form
        .span9
          / Start of yield
          = yield
          / End of yield